<div class="container">
	<div class="row">
		<div class="col-md-12 jumbotron">
			
			<h2>Welcome to APL Survey Program!</h2>
			<h4 class="hidden">
				Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor.
			</h4>
			<a 
			href="<?php echo $this->url('reporting/site-pages', array ('action' => 'view-workflow'))?>"
			class="btn btn-default btn-lg hidden">Learn more</a>
			
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 c-home-modules" >
			<h3> <img src="<?php echo $this->basePath().'/images/icons/home_dashboard.png' ?>">Dashboard</h3>
			<p class="c-home-caption">
				View scores. Generate reports. See campaign  progression. 
			</p>
			<p>
				<a class="btn btn-primary"
				href="<?php echo $this->url('reporting/dashboard-interface'); ?>">Go to Dashboard</a>
				<a class="btn btn-default hidden">More info</a>
			</p>
		</div>
		<div class="col-md-4 c-home-modules">
			<h3> <img src="<?php echo $this->basePath().'/images/icons/home_admin.png' ?>"> Administration</h3>
			<p class="c-home-caption">
				Start campaign. Build questionnaires. Manage users and assignments
			</p>
			<p>
				<a class="btn btn-primary"
				href="<?php echo $this->url('reporting/admin-interface'); ?>">Go to Admin</a>
				<a class="btn btn-default hidden">More info</a>
			</p>
		</div>
		<div class="col-md-4 c-home-modules">
			<h3> <img src="<?php echo $this->basePath().'/images/icons/home_survey.png' ?>">Web Survey</h3>			
			<p class="c-home-caption">
				Are you ready to fill out the survey? 
			</p>
			<p>
				<a class="btn btn-primary"
				href="<?php echo $this->url('web-survey'); ?>">Start Survey</a>
				<a class="btn btn-default hidden">More info</a>
			</p>
		</div>
		<div class="col-md-4 c-home-modules">
			<h3> <img src="<?php echo $this->basePath().'/images/icons/home_support.png' ?>">Support</h3>			
			<p class="c-home-caption">
				Lost username/password? You have comments?
			</p>
			<p>
				<a class="btn btn-primary"
				href="<?php echo $this->url('reporting/site-pages', array('action' => 'contact-us')); ?>">Contact us</a>
				<a class="btn btn-default hidden">More info</a>
			</p>
		</div>
	</div>
</div>
