@CHARSET "ISO-8859-1";
.c-filter-panel {
	max-height: 150px;
	/* overflow-y:scroll; */
	min-height: 150px;
	font-size: 10pt;
}

.c-filter-toggle {
	font-weight: bold;
	font-size: 12pt;
	color: black;
}
.c-question {
	font-size: 14pt;
}

.c-answers {
	margin: 20px;
	font-size: 10pt;
}

.c-score  {
	font-size: 18pt;
}
.c-score-info-sm {
	font-size: 9pt;
}

.c-score-info-md {
	font-size: 13pt;
}

.c-score-cards {
	max-height: 250px;
	overflow-y:scroll;
	min-height: 250px;
}

.c-pagination-footer {
	margin: 2px;
}

.c-home-modules {
	min-height: 250px;
}

.not-answered-alert {
	border: #ff3333 1px solid;
}

.modal-xtra-large {
	width: 98%;
}

.hidden{
	visibility: hidden;
	height: 0px;
	margin: 0px;
	padding: 0px;
}