<?php $this->headScript()->prependFile($this->basePath().'/js/admin/builder/builder.js'); ?>
<div class="page-title"><h2>Questionnaire</h2></div>
<div class="container">
<div class="row">
    <div class="col-md-12">
    <?php echo $this->adminTabsView ?>
    </div>
</div>
</div>
<hr>
<div class="container">
<div class="row hidden" >
    <div class="col-md-12">
        <h4><label for="population">Select the population to track performance:</label></h4>
        <input  id="population" type="checkbox"> ESR
        <hr>
        <h4><label for="country">Select Country:</label></h4>
        <input  id="country" type="checkbox"> USA
        <input  id="country" type="checkbox"> Netherlands
        <input  id="country" type="checkbox"> Japan
        <input  id="country" type="checkbox"> China
    </div>
</div>
    <br>
<div class="row">
	
    <div class="col-md-4 question-selectors hidden">
        <h3>List of Questions</h3>
        <div class="panel-group" id="questions-panel">
            <?php
            $counter = 0;
            foreach ($this->questions as $key => $question) { $counter++; ?>
            <div class="panel panel-default">
                <div class="panel-heading"><span class="panel-title">
                        <a data-toggle="collapse" data-parent="#questions-panel" href="#qc_<?php echo $counter ?>">
                            <?php echo $key ?>
                        </a>
                    </span>
                </div>
                <div class="panel-collapse collapse out" id="qc_<?php echo $counter ?>">
                    <div class="panel-body">
                        <ul class="list-group">
                        <?php
                        foreach ($question as $question_key => $question_text) { ?>
                           <!-- <li class="list-group-item"><a href="#" ><?php echo $question_text ?></a></li> -->
                            <button class="btn btn-default q-button" id="<?php echo $question_key ?>" title="<?php echo $question_text ?>" data-toggle="button">
                                <?php echo $question_key ?>
                            </button>
                        <?php }?>
                        </ul>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
    <div class="col-md-8">
        <h3>Questions</h3>
        <ul class="list-group">
        <?php foreach ($this->questions as $key => $question) {
            foreach ($question as $question_key => $question_text ) { ?>
                <li class="list-group-item selected-question-list" id="q_<?php echo $question_key?>">
                    <span class="badge"><?php echo $key ?></span>
                    <strong><?php echo $question_key ?></strong> <?php echo $question_text ?>
                </li>
        <?php   }
        } ?>
        </ul>
        <br>
        <a class="btn btn-default btn-lg hidden" href="<?php echo $this->url('questionaire-builder/build-interface',array('action' => 'done')) ?>">Save Questionnaire</a>
    </div>
</div>
</div>
