<?php 
	echo $this->headScript()->appendFile($this->basePath().'/js/reporting/dashboard/dashboard.js'); 
	echo $this->headLink()->appendStylesheet($this->basePath().'/css/reporting/dashboard.css');
?>
<div class="page-header"><div class="page-title"><h2>Dashboard</h2></div></div>
<div class="row">
	<div class="col-md-12"><?php echo $this->filters; ?></div>
</div>
<div class="row">
	<div class="col-md-4 hidden">
		<div class="panel panel-default">
			<div class="panel-heading"><span class="panel-title">Response Rate</span></div>
			<div class="panel-body">
				<h5>6 out of 6 <strong>100%</strong></h5>
				<!-- <table class="table">
					<tr><td>Mark Twain</td><td><span class="label label-success">Completed</span></td></tr>
					<tr><td>Obi Wan Kenobi</td><td><span class="label label-warning">Postponed</span></td></tr>
					<tr><td>Leonardo Messi</td><td><span class="label label-danger">Refused</span></td></tr>
				</table>
				 -->
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<?php echo $this->campaignProgress; ?>
	</div>
	<div class="col-md-5 hidden">
		<?php echo $this->rankings; ?>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<?php echo $this->scoreTable;?>
	</div>
</div>
<?php $this->headlink()->appendStylesheet($this->basepath().'/css/reporting/reporting.css') ?>
