<?php echo $this->headScript()->appendFile($this->basePath() . '/js/reporting/manager/review-assignment.js') ?>

<div class="page-header">
	<div class="page-title">
		<h2>Review Assignment</h2>
	</div>
</div>

	<div class="row hidden">
		<div class="col-md-12">
			<div class="well">
			<h5>Hello Manager <b>Mary Jane</b>! The following SSR(s) want your approval.</h5> 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<?php echo $this->reviewTable; ?>
		</div>
	</div>
<!-- MODAL -->
<div class="modal  fade change-reviewer" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<span class="modal-title" id="changeRevModalLabel">Reviewers</span>
			</div>
			<div class="modal-body">
				<?php echo $this->assignment; ?>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Save</button>
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade approve-reviewer" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<span class="modal-title" id="changeRevModalLabel">Select reviewer</span>
			</div>
			<div class="modal-body">	
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>