<div class="page-title"><h2>Administration</h2></div>

<div class="row">
	<div class="col-md-12">
	<?php echo $this->tabsMenu ?>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<?php echo $this->uploadForm; ?>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<?php echo $this->userTable; ?>
	</div>
</div>