<div class="page-title">
	<h2><?php echo $this->translate('Launch Survey') ?></h2>
</div>
<div class="row">
    <div class="col-md-12">
        <?php echo $this->tabsMenu ?>
    </div>
</div>
<br>
<div class="jumbotron">
	<h5>Ready to launch survey? </h5>
	<a class="btn btn-primary btn-lg" href="<?php echo $this->url('reporting/admin-interface',array('action' => 'send-invitations'))?>">Send Invitations</a>
</div>