<div class="page-header">
	<h2><?php echo $this->translate('Email invitations was sent') ?></h2>
</div>
<div class="container">
	<h4>Sent Emails to </h4>
	<?php
		foreach ($this->emails as $email) {
			echo '<li>'.$email;
		}
	?>
</div>