<div class="page-header">
    <div class="page-title"><h2>Survey List</h2></div>
</div>
<div class="container">
    <div class="row hidden">
        <div class="col-md-12">
            <?php echo $this->filters ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title" >Survey List</span>
                </div>
            <table class="table">
                <tr class="info">
                    <th><?php echo $this->translate('Survey ID'); ?></th>
                    <th><?php echo $this->translate('Respondent Name'); ?></th>
                    <th><?php echo $this->translate('Sales Rep'); ?></th>
                    <th><?php echo $this->translate('Survey Date'); ?></th>
                    <th><?php echo $this->translate('Company'); ?></th>
                    <?php foreach ($this->questions as $key => $question) {
                        foreach ($question as $q => $name) {
                            echo '<th><span class="question-name-tip" data-toggle="tooltip" title="'.$name.'">'.$q.'<span></th>';
                        }
                    } ?>
                    <th><?php echo $this->translate('Average'); ?></th>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>Mike Bob</td>
                    <td>John Doe</td>
                    <td>2014-05-02</td>
                    <td>Company A</td>
                    <?php foreach ($this->questions as $key => $question) {
                        foreach ($question as $q => $name) {
                            echo '<td>'.rand(1,5).'</td>';
                        }
                    } ?>
                    <td><?php echo rand(3,5) ?></td>
                </tr>
            </table>
            <div class="panel-footer info">
                <button class="btn btn-default">Excel Export</button>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.question-name-tip').tooltip();
</script>