<div class="panel panel-default">
	<div class="panel-heading">
		<span class="panel-title">Assignment Table</span>
	</div>
	<table class="table review-table">
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Role</th>
			<th>Country</th>
			<th>Status</th>
			<th></th>
		</tr>
		<?php foreach ($this->data as $key => $subject) { ?> 
		<tr>
			<td><?php echo $key; ?>
			<td><?php echo $subject['first_name'] ?></td>
			<td><?php echo $subject['last_name'] ?></td>
			<td><?php echo $subject['role'] ?></td>
			<td><?php echo $subject['country'] ?></td>
			<td>
				<?php 
				if ($subject['status'] != 'no') {
					$class = 'label-success';
					$label = 'Changed';
				}
				else {
					$class = 'label-info';
					$label = 'No Change';
				}
				?>
				<span class="label <?php echo $class ?>"><?php echo $label ?></span>
			</td>
			<td><button class="show-reviewer btn btn-primary " data-toggle="modal" data-target=".change-reviewer">Show Reviewers</button></td>
		</tr>
		<?php } ?>
	</table>
</div>
