<div class="panel panel-primary">
	<div class="panel-heading">
		<Span class="panel-title">Campaign Progress</Span>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<td>Days Remaining: </td>
				<th>32</th>
			</tr>
			<tr>
				<td>Completion Rate: </td><th>55%</th>
			</tr>
			<tr>
				<td>Email Notifications:</td>
				<td>
					<div class="row">
						<div class="col-md-6 hidden">
							<span class="label label-success">Sent </span>&nbsp;Manager Review
						</div>
						<div class="col-md-6">
							<span class="label label-success">Sent </span>&nbsp;Survey Invitations
						</div>
						<div class="col-md-6">
							<span class="label label-warning">Not Sent</span>&nbsp;Final Reminders
						</div>
						<div class="col-md-6">
							<span class="label label-warning">Not Sent</span>&nbsp;Scores Available
						</div>
						<div class="col-md-6">
							<span class="label label-warning">Not Sent</span>&nbsp;Reports
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>