<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				<a data-toggle="collapse" href="#filterPanel"
					class="c-filter-toggle"> Show/Hide Filters </a>
			</div>
			<div class="col-md-4">
				<form class="form-inline" role="form">
					<div class="form-group">
						
					</div>
				</form>
			</div>
		</div>
		<div class="row panel-collapse collapse in" id="filterPanel">
			<br>
			<div class="col-md-4 hidden">
				<div class="panel panel-default">
					<div class="panel-heading">Rationale
					   <button class="btn btn-xs btn-default filter-toggle-all" for="filter-option-1">All</button>
					   <button class="btn btn-xs btn-default filter-toggle-none" for="filter-option-1">None</button>
					</div>
					<div class="panel-body c-filter-panel">
						<?php foreach ($this->scorings as $key => $value) { ?>
							<input type="checkbox" id="filter01_<?php echo str_replace(' ','_',$key) ?> " class="filter-option-1" checked> <?php echo $key; ?><br> 
						<?php } ?>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Country
					   <!--<button class="btn btn-xs btn-default filter-toggle-all" for="filter-option-2">All</button>
					   <button class="btn btn-xs btn-default filter-toggle-none" for="filter-option-2">None</button>-->
					</div>
                    <div class="panel-body c-filter-panel">
                        <?php foreach ($this->data as $employees) {
                            $countries[] = $employees->country;
                        } ?>
                        <select multiple name="filter_country" class="form-control">
						<?php
						    $countries = array_unique($countries);
						    foreach ($countries as $country) { ?>
							    <option><?php echo $country; ?></option>
						<?php } ?>
                        </select>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Suppport Ratio
					   <button class="btn btn-xs btn-default filter-toggle-all">All</button>
					   <button class="btn btn-xs btn-default filter-toggle-none">None</button>
					</div>
					<div class="panel-body c-filter-panel">
						<input type="checkbox" checked> 5 or more <br> <input
							type="checkbox" checked> 4 <br> <input type="checkbox" checked> 3
						<br> <input type="checkbox" checked> 2 <br> <input type="checkbox"
							checked> 1 <br>
					</div>
				</div>
			</div>  -->
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading"><?php echo $this->translate('APL Sales Rep') ?>
					   <!--<button class="btn btn-xs btn-default filter-toggle-all" for="filter-option-3">All</button>
					   <button class="btn btn-xs btn-default filter-toggle-none" for="filter-option-3">None</button>-->
					</div>
					<div class="panel-body c-filter-panel">
                        <select name="filter_emp" multiple class="form-control">
                        <?php foreach ($this->data as $employees) {
                            echo '<option>'.$employees->firstname.' '.$employees->lastname.'</option>';
                        } ?>
                        </select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading"><?php echo $this->translate('Period'); ?>
					   <!--<button class="btn btn-xs btn-default filter-toggle-all" for="filter-option-3">All</button>
					   <button class="btn btn-xs btn-default filter-toggle-none" for="filter-option-3">None</button>-->
					</div>
					<div class="panel-body c-filter-panel">
						<select class="form-control" multiple="">
							<option>2013</option>
							<option>2014</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn-group">
					<a class="btn btn-primary apply-selection" data-toggle="tooltip" title=""
					href="<?php echo $this->url('reporting/dashboard-interface') ?>">Apply Selection</a>
					<!-- <a class="btn btn-primary compare-selection" data-toggle="tooltip" title="Compare your current selection to previous selection."
					href="<?php echo $this->url('reporting').'?compare=true'?>"
					>Compare Selection</a>
					<button class="btn btn-primary">?</button> -->
				</div>

	</div>
</div>
<script>
	$('.compare-selection').tooltip();

	$('.filter-toggle-none').click(function(){
		var x = $(this).attr('for');
		$('.' + x).prop('checked',false);
	});

	$('.filter-toggle-all').click(function(){
		var x = $(this).attr('for');
		$('.' + x).prop('checked',true);
	});
</script>